
.header{
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 100vh;
    align-content: center;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.7)),
            to(rgba(0, 0, 0, 0.7))
        ),
        url(img/background.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(0, 0, 0, 0.6)),
        url(img/background.jpg);
    
}


/* HEADER*/

.header h1{
    color: #fff;
    font-size: 1000%;
    font-weight: 210;
    text-align: center;
}

.header h2{
   text-align: center;
    color: #fff;
}

.about-button{
    text-align: center;
    position: absolute;
    top:85%;
    left:25%;
}

.btn-white{
    border: 1px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 150%;
    color: #fff;
    text-decoration: none;
}




.btn-white:hover,
.btn-white:active{
    background-color:#fff;
    color: rgb(103, 92, 92);  
    text-decoration: none;
}

i{
    color:#fff;
    font-size: 250%;
}

.arrow-about{
    text-align: center;
    position: absolute;
    top:93%;
    left:25%;
}

.arrow:hover,
.arrow:active{
    color: #9b9b9b;
}

/* ABOUT ME*/

.about-me{
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    height:100vh;
    align-content: center;
}

.left-col{
    background-color: #171936;
    text-align: center;
    text-align: justify;
}

.right-col{
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.7)),
            to(rgba(0, 0, 0, 0.7))
        ),
        url(img/aboutme.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(0, 0, 0, 0.6)),
        url(img/aboutme.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    align-content: center;
}

.new-text{
    margin: auto;
    margin-top: 40%;
}

.left-col h2{
    text-align: center;
    color: #fff;
    
}

.left-col p{
    color: #fff;
}

.arrowbutton{
    position: fixed;
    padding-left: 2%;
    bottom:5%;
    top:80%;
    z-index: 100;
    display: none;
    
}

.up-button{
    border: 1px solid #7e7979;
    padding: 10px;
    border-radius: 50%;
    background-color: #313030;
}

.services-button{
    align-content: center;
     text-align: center;
     position: absolute;
     top:85%;
    left:25%;
}

.go-down{
    text-align: center;
    position: absolute;
    top:93%;
    left:25%;
}

/* MY SERVICES*/

.my-skills{
    height:100vh;
    background-color: #cbcbcb;
    align-content: center;
    text-align: center;
    color: #000;
}

.skill-header{
    color: #171936;
    margin-bottom: 5%;
}

.skills{
    margin: auto auto;
}

.table h2{
    text-align: center;
    margin-top: 20px;
}

.my-skills i{
    color: #000;
    font-size: 300%;
    margin-top: 20px;
}


.table p{
    margin-top: 20px;
    text-align: justify;
}

.table{
    border-collapse: collapse;
}

.table td,
.table th{
    border: 1px solid black;
}

table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

/* SKILLS */

.skills-section{
    height:100vh;
    align-content: center;
    text-align: center;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.7)),
            to(rgba(0, 0, 0, 0.7))
        ),
        url(img/skills.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(0, 0, 0, 0.6)),
        url(img/skills.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    align-content: center;
}

.box-element{
    display: inline-block;
    border: 1px solid #fff;
    text-align:center;
    vertical-align:middle;
    width: 200px;
    margin-right: 50px;
    margin-top: 50px;
    box-shadow: 5px 5px rgba(21, 21, 21, 0.53);
    background-color: rgba(133, 185, 212, 0.92);
}

.first-box{
    margin: auto;
    font-size: 150%;
}

.box-element p{
    margin: 30px;
}

.skillheader{
    color: #f7f7f7; 
}

/* MY WORK */

.my-work{
    height:100vh;
    background-color: #4d4d4d;
}

.my-work img{
    display: inline-block;
}

.my-work a{
    display: inline-block;
}


.mywork{
    text-align: center;
    top:10%;
    color: #fff;
}

/* CONTACT */

.contact{
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    height:900px;
    align-content: center;
}

.right-side{
    background-color: #1c1c1c;
    text-align: center;
    align-content: center;
}

.left-side{
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.7)),
            to(rgba(0, 0, 0, 0.7))
        ),
        url(img/contact.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.6)),
        url(img/contact.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    align-content: center;
    text-align: center;
}


.form-box{
    align-content: center;
    text-align: center;
    color: #fff;
    margin: auto auto;
    margin-top: 25%;
}

.header-contact{
    color: #fff;
    position: absolute;
    left:45%;
    z-index: 100;
    top:510%;
    border-bottom: 2px solid #fff;
}

.info{
    color: rgb(227, 227, 227);
    font-size: 300%;
    display: inline-block;
    align-content: center;
    text-align: center;
    margin-top: 35%;
}

.left-side i{
    margin-right: 25px;
        color: #ffffff;
}
.fa-linkedin:hover,
.fa-linkedin:active
{
    color:#0077b5;
}

.fa-xing-square:hover,
.fa-xing-square:active
{
    color:#cfdc00;
}

.fa-facebook:hover,
.fa-facebook:active
{
    color:#3b5998;
}

.fa-instagram:hover,
.fa-instagram:active
{
    color:#c13584;
}

.fa-twitter-square:hover,
.fa-twitter-square:active
{
    color:#1da1f2;
}

.fa-github-square:hover,
.fa-github-square:active
{
    color:#4078c0;
}

/* FOOTER */

.footer{
    height:100px;
    align-content: center;
    background-color: #3e3e3e;
}

.copyright{
    color: #fff;
    font-size: 120%;
    text-align: center;
    margin: auto auto;
}
